/* Bannière */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86%;
  height: 223px;
  border-radius: 25px;
  background-image: url(../../assets/IMGBanniere.png);
  background-size: cover;
  background-position: center;
}

.banner p {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 143%;
  z-index: 2;
}

.darken {
  width: 86%;
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

/* Bannière About */
.bannerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86%;
  height: 223px;
  border-radius: 25px;
  background-image: url(../../assets/IMGApropos.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner {
    height: 111px;
    justify-content: flex-start;
  }

  .banner p {
    margin: 0;
    font-size: 24px;
    line-height: 100%;
    width: 70%;
    margin-left: 15px;
  }

  .darken {
    height: 111px;
  }
}
