/**************** Carousel ***************/
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  position: relative;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  width: 47px;
  height: 79px;
  color: black;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
  color: black;
}

.bullets {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.bullet {
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 5px;
  cursor: pointer;
}

.bullet-inactive {
  background-color: gray;
}
