/**************** Carousel ***************/
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  position: relative;
}
.arrow {
  position: absolute;
  width: 47px;
  height: 79px;
  color: black;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
  color: black;
}

.bullets {
  position: absolute;
  bottom: 10px;
}

.bullet {
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 5px;
  cursor: pointer;
}

.bullet-inactive {
  background-color: gray;
}

@media (max-width: 768px) {
  .pictures {
    height: 255px;
  }
  .arrow {
    width: 30px;
    height: 30px;
  }

  .bullets {
    width: 100%;
  }

  .bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 3px;
    cursor: pointer;
  }
}
