/* Header */
header {
  display: flex;
  width: 86%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(../../assets/LOGOKasax1.5.svg);
  width: 210px;
  height: 68px;
}

nav {
  display: flex;
  align-items: flex-start;
  gap: 57px;
}

nav a {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  header {
    width: 93%;
  }

  .logo {
    background-image: url(../../assets/LOGOKasa.svg);
    width: 145px;
    height: 47px;
  }

  nav {
    gap: 10px;
  }

  nav a {
    font-size: 18px;
  }
}
