/**************** Logements ***************/
.carousel {
  width: 86%;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 86%;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 75%;
  width: 550px;
  margin: 0;
}

.title span {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.host {
  display: flex;
  align-items: center;
}

.name {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  width: 80px;
  margin: 0px;
  padding-right: 10px;
}

.picture img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  padding: 2px;
  align-self: center;
  background: #ff6060;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.stars {
  color: #ff6060;
  font-size: 32px;
  padding-right: 10px;
}

.star {
  color: #e3e3e3;
  font-size: 32px;
}

.contents section {
  display: flex;
  justify-content: space-between;
}

.d_pull-down {
  width: 46%;
}

.e_pull-down {
  width: 46%;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #ff6060;
}

.description {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.equipements {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #ff6060;
}

.equipement {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.arrow-down {
  color: white;
  font-size: 32px;
  align-self: center;
}

.arrow-down.active {
  transform: rotate(180deg);
  transition: 0.5s ease;
  cursor: pointer;
}

.arrow-down.inactive {
  transform: rotate(0);
  transition: 0.5s ease;
  cursor: pointer;
}

.logementText {
  color: #ff6060;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
}

.logementText.active {
  animation: appear 0.5s ease-in-out forwards;
}

.logementText.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

.logementTextTwo {
  color: #ff6060;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
  list-style-type: none;
}

.logementTextTwo.active {
  animation: appear 0.5s ease-in-out forwards;
}

.logementTextTwo.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

@media (max-width: 768px) {
  .carousel {
    width: 93%;
  }

  .contents {
    width: 93%;
  }

  .content {
    flex-direction: column;
  }

  .title {
    font-size: 18px;
    line-height: 150%;
    width: 100%;
    margin: 0;
  }

  .title span {
    font-size: 14px;
    padding-top: 10px;
  }

  .host {
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
    bottom: -60px;
  }

  .name {
    font-size: 13px;
    width: 50px;
  }

  .picture img {
    width: 32px;
    height: 32px;
  }

  .infos {
    flex-direction: column;
    gap: 25px;
    position: relative;
    bottom: 30px;
  }

  .tag {
    width: 84px;
    height: 18px;
    padding: 0px;
    font-size: 14px;
  }

  .stars {
    font-size: 22px;
  }

  .star {
    font-size: 22px;
  }

  .contents section {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    position: relative;
    bottom: 20px;
  }

  .d_pull-down {
    width: 100%;
  }

  .e_pull-down {
    width: 100%;
  }

  .descriptions {
    padding: 5px 20px 5px 10px;
  }

  .description {
    font-size: 13px;
  }

  .equipements {
    padding: 5px 20px 5px 10px;
  }

  .equipement {
    font-size: 13px;
  }

  .arrow-down {
    font-size: 22px;
  }
}
