/**************** Logements ***************/
.carousel {
  width: 86%;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 86%;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 75%;
  width: 550px;
  margin: 0;
}

.title span {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.host {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.name {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  margin: 0px;
  padding-right: 10px;
}

.picture {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 10px;
  height: 25px;
}

.tag {
  width: 115px;
  border-radius: 10px;
  padding: 2px;
  align-self: center;
  background: #ff6060;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.stars {
  color: #ff6060;
  font-size: 32px;
  padding-right: 10px;
}

.star {
  color: #e3e3e3;
  font-size: 32px;
}

.contents section {
  display: flex;
  justify-content: space-between;
}

.d_pull-down {
  width: 46%;
}

.e_pull-down {
  width: 46%;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #ff6060;
}

.description {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.equipements {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #ff6060;
}

.equipement {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.logementText {
  color: #ff6060;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
}

.logementText.active {
  animation: appear 0.5s ease-in-out forwards;
}

.logementText.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

.logementTextTwo {
  color: #ff6060;
  width: 570px;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
  list-style-type: none;
}

.logementTextTwo.active {
  animation: appear 0.5s ease-in-out forwards;
}

.logementTextTwo.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

@media (max-width: 768px) {
  .carousel {
    width: 93%;
  }

  .contents {
    width: 93%;
    gap: 10px;
  }

  .content {
    flex-direction: column;
  }

  .title {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    width: 100%;
    margin: 0;
  }
  .title span {
    font-size: 14px;
  }

  .infos {
    flex-direction: column;
    gap: 25px;
  }

  .tags {
    height: 18px;
  }

  .tag {
    width: 84px;
    padding: 0px;
    font-size: 14px;
  }

  .stars {
    font-size: 22px;
  }

  .star {
    font-size: 22px;
  }

  .contents section {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 15px;
  }

  .d_pull-down {
    width: 100%;
  }

  .e_pull-down {
    width: 100%;
  }

  .description {
    font-size: 13px;
  }

  .equipement {
    font-size: 13px;
  }
}
