/* Général */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 1440px;
  margin: auto;
  padding-top: 45px;
}

/**************** Home ***************/
/* Header */
header {
  display: flex;
  width: 1240px;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 720px;
}

nav {
  display: flex;
  align-items: flex-start;
  gap: 57px;
}

nav a {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
  text-decoration-line: underline;
}

/* Bannière */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  background-image: url(./assets/IMGBanniere.png);
  background-size: cover;
  background-position: center;
}

.banner p {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 143%;
  z-index: 2;
}

.darken {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

/* Cards */
.cards {
  width: 1240px;
  height: 829px;
  border-radius: 25px;
  background: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cards a {
  text-decoration: none;
  height: 340px;
}

.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff6060 0%, #993636 100%);
  display: flex;
  align-content: center;
  align-items: flex-end;
}

.card p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  width: 100px;
  margin: 20px;
}

/* Footer */
footer {
  display: flex;
  width: 1440px;
  height: 209px;
  padding: 66px 464px 29px 463px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 29px;
  background-color: black;
}

footer img {
  color: white;
}

footer p {
  display: flex;
  width: 513px;
  height: 46px;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
}

/**************** About ***************/
/* Bannière */
.bannerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  background-image: url(./assets/IMGApropos.png);
  background-size: cover;
  background-position: center;
}

/* Bars */
.bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1240px;
}

.bar {
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #ff6060;
  width: 1023px;
  height: 52px;
  padding: 0 20px 0 15px;
  margin-bottom: 30px;
}

.bar p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
}

.arrow.active {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

.arrow.inactive {
  transform: rotate(0);
  transition: 0.5s ease;
}

.text {
  color: #ff6060;
  width: 1023px;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
  top: -30px;
}

.text.active {
  animation: appear 0.5s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

.text.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/**************** Error ***************/
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
  width: 1440px;
  margin: auto;
  padding-top: 45px;
}

.error {
  color: #ff6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  margin: 0px;
}

.oups {
  width: 872px;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}

.home {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

/**************** Logements ***************/
.carrousel {
  width: 1240px;
  height: 415px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  width: 1240px;
  justify-content: space-between;
}

.title {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 75%;
  width: 550px;
  margin: 0;
}

.title span {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.host {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.name {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  margin: 0px;
  padding-right: 10px;
}

.picture {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.infos {
  display: flex;
  width: 1240px;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 10px;
  height: 25px;
}

.tag {
  width: 115px;
  border-radius: 10px;
  padding: 5px;
  background: #ff6060;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.contents section {
  display: flex;
  justify-content: space-between;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  width: 582px;
  height: 32px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #ff6060;
}

.description {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.equipements {
  display: flex;
  justify-content: space-between;
  width: 582px;
  height: 32px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  background-color: #ff6060;
}

.equipement {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.logementText {
  color: #ff6060;
  width: 570px;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
}

.logementText.active {
  animation: appear 0.5s ease-in-out forwards;
}

.logementText.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}

.logementTextTwo {
  color: #ff6060;
  width: 570px;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
  margin: 0px;
  list-style-type: none;
}

.logementTextTwo.active {
  animation: appear 0.5s ease-in-out forwards;
}

.logementTextTwo.inactive {
  animation: disappear 0.5s ease-in-out forwards;
}
